In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.4.2-cp39-cp39-win_amd64.whl (10.5 MB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\mohammad\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.1-py2.py3-none-any.whl (503 kB)
Collecting numpy>=1.18.5
  Downloading numpy-1.22.3-cp39-cp39-win_amd64.whl (14.7 MB)
Requirement already satisfied: six>=1.5 in c:\users\mohammad\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.22.3 pandas-1.4.2 pytz-2022.1

WARNING: You are using pip version 21.1.1; however, version 22.0.4 is available.
You should consider upgrading via the 'c:\users\mohammad\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [2]:
import pandas as pd

In [3]:
raw_data = pd.read_csv("Absenteeism_data.csv")

In [4]:
raw_data

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average(in Minutes),Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2018,289,36,33,239.554,30,1,2,1,4
1,36,0,7/14/2018,118,13,50,239.554,31,1,1,0,0
2,3,23,7/15/2018,179,51,38,239.554,31,1,0,0,2
3,7,7,7/16/2018,279,5,39,239.554,24,1,2,0,4
4,11,23,7/23/2018,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
695,17,10,5/23/2021,179,22,40,237.656,22,2,2,0,8
696,28,6,5/23/2021,225,26,28,237.656,24,1,1,2,3
697,18,10,5/24/2021,330,16,28,237.656,25,2,0,0,8
698,25,23,5/24/2021,235,16,32,237.656,25,3,0,0,2
699,15,28,5/31/2021,291,31,40,237.656,25,1,1,1,2